* {
    font-family: sans-serif;
    text-align: center;
  }
  
  .SwitchContainer {
    display: flex;
    background-color: rgba(237, 226, 226, 0.649);
    align-items: center;
    border-radius: 35px;
    width: 90%;
    height: 10vh;
    min-width: 150px;
  }
  
  .ToggleItem {
    height: 6vh;
    width: 10rem;
    display: flex;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .Text {
    font-size: 13px;
  }
  
  body {
    margin: 0;
  }
  
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
  }
  .background {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .SwitchContainer {
    display: flex;
  }
  
  .ToggleItem {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 0px;
  }
  
  .BarsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    width: 100%;
  }
  
  .Bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  .BarValue {
    font-size: 10px;
    color: rgb(87, 123, 200);
  }
  